<!doctype html>
<html lang="zxx">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap Min CSS -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <!-- Animate Min CSS -->
        <link rel="stylesheet" href="assets/css/animate.min.css">
        <!-- Line Awesome CSS -->
        <link rel="stylesheet" href="assets/css/line-awesome.min.css">
        <!-- Owl Carousel CSS -->
        <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
        <!-- Odometer CSS -->
        <link rel="stylesheet" href="assets/css/odometer.css">
        <!-- Slick CSS -->
        <link rel="stylesheet" href="assets/css/slick.min.css">
        <!-- Popup CSS -->
        <link rel="stylesheet" href="assets/css/magnific-popup.min.css">
        <!-- Style CSS -->
        <link rel="stylesheet" href="assets/css/style.css">
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="assets/css/responsive.css">
        

        <title>Movie Blog</title>

        <link rel="icon" type="image/png" href="assets/img/favicon.png">
    </head>

    <body data-spy="scroll" data-offset="120">

        <!-- Start Preloader Area -->
        <div class="preloader">
            <div class="loader">
                <div class="shadow"></div>
                <div class="box"></div>
            </div>
        </div>
        <!-- End Preloader Area -->


        <!--done-->
        <!-- Start Navbar Area -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <div class="logo">
                    <a href="app-landing.html">
                        <h3>MoviesBank</h3>
                    </a>
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                       

                        

                        <li class="nav-item">
                            <a href="movies.html" class="nav-link">
                                Movies
                            </a>
                        </li>
                        
                        <li class="nav-item">
                            <a href="#team" class="nav-link">
                                Team
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="#contact" class="nav-link">
                                Contact
                            </a>
                        </li>
                    </ul>

                    <div class="others-option">
                        <div class="d-flex align-items-center">
                            <div class="option-item">
                                <ul class="social-icon">
                                    
                
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class="lab la-instagram"></i>
                                        </a>
                                    </li>
                
                                    
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class="lab la-telegram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!-- End Navbar Area -->

        <!--done-->
        <!-- Start App Banner Area -->
        <div id="home" class="app-banner-area">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-4">
                                <div class="main-banner-content">
                                    <h1>This is a Blog for Movie lovers</h1>
                                    <p>You can review different movies on this website.</p>
        
                                   
                                </div>
                            </div>

                            <div class="col-lg-5">
                                <div class="banner-image  ">
                                    <img src="assets/img/bannersite.jpeg" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End App Banner Area -->
        
       
       <!--done -->
        <!-- Start App About Area -->
        <section id="about" class="app-about-area pb-100">
            <div class="container">
                <div class="row align-items-center">
                    <h2 class="container border text-center" style="color: #ff5740;"> movie of  day</h2>
                    <div class="col-lg-6">
                        
                        <div class="app-about-content text-right">
                            
                            <h3>Title</h3>
                            <p>Movie information..........................................</p>
                            <p>Summary : ...........................................................</p>

                           
                            <div class="about-btn">
                                <a href="#" class="default-btn">
                                     More information
                                    <span></span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="app-about-image">
                            <img src="assets/img/bannerfunfun.jpg" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End App About Area -->

        <!--done-->
        <!-- Start Fun Facts Area -->
        <section class="fun-facts-area bg-ffffff pt-100 pb-70">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-fun-fact">
                            <div class="icon">
                                
                            </div>
                            <h3>
                                <span class="odometer" data-count="370">00</span>
                            </h3>
                            <p>Admins</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="single-fun-fact">
                            <div class="icon">
                                
                            </div>
                            <h3>
                                <span class="odometer" data-count="560">00</span>
                            </h3>
                            <p>Movies</p>
                        </div>
                    </div>
                    

                   

                   
                </div>
            </div>
        </section>
        <!-- End Fun Facts Area -->

       



          <!-- Start Blog Area -->
          <section id="blog" class="blog-area pt-100 pb-70">
            <div class="containerr">
               
                <div class="genres col-lg-12">
                    <h3>Movies</h3>
                    <br><br>    
                    <div class="sub-genres">
                        <a href="#" class="action">Action</a>
                        <a href="#" class="adventure">Adventure</a>
                        <a href="#" class="animation">Animation</a>
                        <a href="#" class="comedy">Comedy</a>
                        <a href="#" class="crime">Crime</a>
                        <a href="#" class="drama">Drama</a>
                        <a href="#" class="fantasy">Fantasy</a>
                        <a href="#" class="horror">Horror</a>
                        <a href="#" class="romance">Romance</a>
                        <a href="#" class="sci-fi">Sci-Fi</a>
                        <a href="#" class="thriller">Thriller</a>
                        <a href="#" class="mystery">Mystery</a>
                        <a href="#" class="western">Western</a>
                        <a href="#" class="documentary">Documentary</a>
                        <a href="#" class="musical">Musical</a>
                        <a href="#" class="historical">Historical</a>
                        <a href="#" class="biography">Biography</a>
                        <a href="#" class="sports">Sports</a>
                        <a href="#" class="war">War</a>
                        <a href="#" class="family">Family</a>
                        
                    </div>
                    <br><br>
                   
                </div>
               
            </div>
        </section>
        <!-- End Blog Area -->


       
       <!--done-->
        <!-- Start Team Area -->
        <section id="team" class="team-area bg-ffffff pt-100 pb-70">
            <div class="container">
                <div class="section-title">
                    <h2>Our Admins</h2>
                    
                </div>

                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="single-team-box">
                            <div class="image">
                                <img src="assets/img/team/team1.jpg" alt="image">

                                <ul class="social">
                                   
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class="lab la-telegram"></i>
                                        </a>
                                    </li>
                                   
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class="lab la-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="content">
                                <h3>Alireza Tashani</h3>
                                <span>Front_End Developer</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="single-team-box">
                            <div class="image">
                                <img src="assets/img/team/team2.jpg" alt="image">

                                
                                <ul class="social">
                                   
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class="lab la-telegram"></i>
                                        </a>
                                    </li>
                                   
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class="lab la-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="content">
                                <h3>Ali Tashani</h3>
                                <span>BackEnd Developer</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="single-team-box">
                            <div class="image">
                                <img src="assets/img/team/team3.jpg" alt="image">

                                
                                <ul class="social">
                                   
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class="lab la-telegram"></i>
                                        </a>
                                    </li>
                                   
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class="lab la-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="content">
                                <h3>Alireza Tashi</h3>
                                <span>CEO</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="single-team-box">
                            <div class="image">
                                <img src="assets/img/team/team4.jpg" alt="image">

                                
                                <ul class="social">
                                   
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class="lab la-telegram"></i>
                                        </a>
                                    </li>
                                   
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class="lab la-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="content">
                                <h3>Tashani Alireza</h3>
                                <span>Database Administrator</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Team Area -->

      
       <!--done-->
        <!-- Start Contact Area -->
        <section id="contact" class="contact-area ptb-100">
            <div class="container">
                <div class="section-title">
                    <h2>Contact Us</h2>
                   
                </div>

                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="contact-image">
                            <img src="assets/img/app-contact.png" alt="image">
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="contact-form">
                            <form id="contactForm">
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group">
                                            <input type="text" name="name" id="name" class="form-control" required data-error="Please enter your name" placeholder="Your Name">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
    
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group">
                                            <input type="email" name="email" id="email" class="form-control" required data-error="Please enter your email" placeholder="Your Email">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
    
                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group">
                                            <input type="tel" name="phone_number" id="phone_number" required data-error="Please enter your number" class="form-control" placeholder="Your Phone">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
    
                                    
    
                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group">
                                            <textarea name="message" class="form-control" id="message" cols="30" rows="6" required data-error="Write your message" placeholder="Your Message"></textarea>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
    
                                    <div class="col-lg-12 col-md-12">
                                        <div class="send-btn">
                                            <button type="submit" class="default-btn">
                                                Send Message
                                                <span></span>
                                            </button>
                                            <div id="msgSubmit" class="h3 text-center hidden"></div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Contact Area -->
        
        <!--done-->
        <!-- Start Copy Right Area -->
        <div class="copy-right">
            <div class="container">
                <div class="copy-right-content">
                    <p>
                        Copyright © 2021 . All Rights Reserved by
                        <a href="#" target="_blank">
                           Alireza
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <!-- End Copy Right Area -->

        <!-- Start Go Top Area -->
        <div class="go-top">
            <i class="las la-long-arrow-alt-up"></i>
        </div>
        <!-- End Go Top Area -->

        
        
       
        <!-- jQuery Min JS -->
        <script src="assets/js/jquery-3.5.1.min.js"></script>
        <!-- Popper Min JS -->
        <script src="assets/js/popper.min.js"></script>
        <!-- Bootstrap Min JS -->
        <script src="assets/js/bootstrap.min.js"></script>
        <!-- Owl Carousel JS -->
        <script src="assets/js/owl.carousel.min.js"></script>
        <!-- Odometer JS -->
        <script src="assets/js/odometer.min.js"></script>
        <!-- Appear JS -->
        <script src="assets/js/jquery.appear.js"></script>
        <!-- Slick JS -->
        <script src="assets/js/slick.min.js"></script>
        <!-- Popup JS -->
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <!-- Form Ajaxchimp JS -->
		<script src="assets/js/jquery.ajaxchimp.min.js"></script>
		<!-- Form Validator JS -->
		<script src="assets/js/form-validator.min.js"></script>
		<!-- Contact JS -->
        <script src="assets/js/contact-form-script.js"></script>
        <!-- Main JS -->
        <script src="assets/js/main.js"></script>
    </body>
</html>